{% extends 'base.html' %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block title %}
<style>
    table, th, td {
      border: 1px solid black;
    }
</style>
{% endblock %}
{% block body %}
{%if LANGUAGE_CODE == 'fa' %}
<div id="site-content">
	<main class="main-content">
		<div class="container">
			<div class="page" style="direction: rtl;">
				<div class="breadcrumbs">
					<a href="{% url 'movie:index' %}">خانه</a>
					<span> پروفایل</span>
				</div>
				<div class="content" style="direction: rtl; float: right;" >
                
				    <h3> <small> شماره موبایل:</small> {{ request.user.phone_number }} </h3>
                    <table style="direction: rtl;">
                        <tr>
                          <th>تاریخ ورود</th>
                          <th>نام سیستم</th>
                          <th>نام دستگاه</th>
                          <th>مدیریت دستگاه</th>
                        </tr>
                        {% for user in informations %}
                        <tr>
                          <td>{{user.date_joiin|date:"Y-m-d"}}</td>
                          <td>{{user.os}}</td>
                          <td>{{user.device}}</td>
                          <td>
                              <form action="{% url 'movie:remove_session'%}" method="POST">
                                  {% csrf_token %}
                                  <input type="password" name="key" value="{{user.session_key}}" readonly hidden>
                                  <input type="submit" value="حذف این دستگاه" name="" id="">
                              </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </table> 
				
				</div>
			</div>
		</div> <!-- .container -->
        <br>
        <div class="container">
            <h1>ذخیره شده ها</h1>

            <div class="movie-list">
                {% if saves %}
                    {% for rew in saves %}
                    <div class="movie">
                        <figure class="movie-poster"><img src="{{ rew.content_object.image.url }}" style="height: 300px; width: 300px;" alt="#"></figure>
                        {% if rew.content_object.is_a == 'serial' %}   
                            <div class="movie-title"><a href="{% url 'movie:serial' rew.content_object.slug %}">{{ rew.content_object.name }}</a></div>
                        {% else %}    
                            <div class="movie-title"><a href="{% url 'movie:film' rew.content_object.slug %}">{{ rew.content_object.name }}</a></div>
                        {% endif %}
                    </div>
                    {% endfor %}
                {% endif %}
            </div> 
        </div>
	</main>
</div>
{% endif %}
	

{%if LANGUAGE_CODE == 'en' %}
<div id="site-content">
	<main class="main-content">
		<div class="container">
			<div class="page" style="direction: ltr;">
				<div class="breadcrumbs" style="direction: ltr;">
					<a href="{% url 'movie:index' %}">Home</a>
					<span> Profile</span>
				</div>
				<div class="content">
                    <h3> <small> your number:</small> {{ request.user.phone_number }} </h3>
                <table>
                    <tr>
                      <th>date join</th>
                      <th>os name</th>
                      <th>device name</th>
                      <th>management device</th>
                    </tr>
                    {% for user in informations %}
                    <tr>
                      <td>{{user.date_joiin|date:"d-m-Y"}}</td>
                      <td>{{user.os}}</td>
                      <td>{{user.device}}</td>
                      <td>
                          <form action="{% url 'movie:remove_session'%}" method="POST">
                              {% csrf_token %}
                              <input type="password" name="key" value="{{user.session_key}}" readonly hidden>
                              <input type="submit" value="delete this device" name="" id="">
                          </form>
                        </td>
                    </tr>
                    {% endfor %}

                  </table> 
				</div>
			</div>
		</div> <!-- .container -->
        <br>
        <div class="container">
            <h1 style="float: left;">SAVED</h1>

            <div class="movie-list">
                {% if saves %}
                    {% for rew in saves %}
                    <div class="movie">
                        <figure class="movie-poster"><img src="{{ rew.content_object.image.url }}" style="height: 300px; width: 300px;" alt="#"></figure>
                        {% if rew.content_object.is_a == 'serial' %}   
                            <div class="movie-title" style="direction: ltr;"><a href="{% url 'movie:serial' rew.content_object.slug %}">{{ rew.content_object.name_en }}</a></div>
                        {% else %}    
                            <div class="movie-title" style="direction: ltr;"><a href="{% url 'movie:film' rew.content_object.slug %}">{{ rew.content_object.name_en }}</a></div>
                        {% endif %}
                    </div>
                    {% endfor %}
                {% endif %}
            </div> 
        </div>
	</main>
</div>
{%endif%}
{% endblock %}