{% extends 'base.html' %}
{% load static %}
		
{% block body %}
<div id="site-content">
	<main class="main-content">
		<div class="container">
			<div class="page">
				<div class="row">
					<div class="col-md-9">
						<img  src="{% static 'dummy/404.jpg' %}" alt="">
						
					</div>
					<div class="col-md-12">
						
					</div>
				</div> <!-- .row -->
                <div class="col-md-12">
				<div class="arrow" style="text-align: center;">
                    
                </div> <!-- .menu -->
                </div>
			</div>
		</div> <!-- .container -->
	</main>
</div>
		
{% endblock %}