{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}


{% url 'movie:index' as index%}
{% url 'movie:about' as about%}
{% url 'movie:review' as review%}
{% url 'movie:collection' as collection%}
{% url 'movie:contact' as contact%}
{% url 'movie:user' as user%}
{% url 'movie:phone' as phone%}
{% url 'movie:logout' as logout%}
{% url 'movie:create' as admincreate%}

{%if LANGUAGE_CODE == 'fa' %}

<header class="site-header">
    <div class="container">
        <div style="float: left;">
            <a id="branding" style="float: revert ;">
                <img src="{% static 'images/logo.png' %}" alt="" class="logo">
                <div class="logo-copy">
                    <h1 class="site-title">FREE Film</h1>
                </div>
            </a> <!-- #branding -->
                    <small class="site-description">                       
                        {%if not request.user.is_paid and request.user.is_authenticated %}
                        <div class="entry-content">
                            <div class="col-md-12">
                                <h1 style="color: tomato;"> <a href="{% url 'movie:request' %}"> خرید اشتراک </a> </h1>
                            </div>
                        </div>
                        {%endif%}                </small>
                        <form action="{% url 'movie:change_language' %}" method="POST" style="direction: ltr;">
                            {% csrf_token %}
                            <input name="next" type="hidden" value="{{ request.get_full_path }}" />
                            <select name="language">
                                {% get_current_language as LANGUAGE_CODE %}
                                {% get_available_languages as LANGUAGES %}
                                {% get_language_info_list for LANGUAGES as languages %}
                                {% for language in languages %}
                                    <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                                        {{ language.name_local }} ({{ language.code }})
                                    </option>
                                {% endfor %}
                            </select>
                            <input type="submit" value="Go" />
                        </form>
  
            </div>
        <div class="main-navigation" style="float: right;">
            <button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
            <ul class="menu">
                <li class="menu-item {% if request.path == index %}current-menu-item{% endif %}"><a href="{{index}}">خانه</a></li>
                <li class="menu-item {% if request.path == collection %}current-menu-item{% endif %}"><a href="{{collection}}">مجموعه</a></li> 
                <li class="menu-item {% if request.path == review %}current-menu-item{% endif %}"><a href="{{review}}">نقد و بررسی</a></li>
                <li class="menu-item {% if request.path == contact %}current-menu-item{% endif %}"><a href="{{contact}}">ارتباط با ما</a></li>
                <li class="menu-item {% if request.path == about %}current-menu-item{% endif %}"><a href="{{about}}">درباره ما</a></li>
                {% if request.user.is_admin %}
                    <li class="menu-item {% if request.path == admincreate %}current-menu-item{% endif %}"><a href="{{admincreate}}">ادمین کنترل </a></li>
                {% endif %}
                {% if request.user.is_authenticated %}
                    <li class="menu-item {% if request.path == user %}current-menu-item{% endif %}"><a href="{{user}}">پروفایل</a></li>
                    <li class="menu-item {% if request.path == logout %}current-menu-item{% endif %}"><a href="{{logout}}">خروج</a></li>
                {% else %}
                    <li class="menu-item {% if request.path == phone %}current-menu-item{% endif %}"><a href="{{phone}}">ورود</a></li>
                {% endif %}
            </ul> <!-- .menu -->
            <br><br>
            <span>
                <form action="{% url 'movie:search' %}" class="">
                    <input type="text" name="q" {% if q %} value={{q}} {% endif %} placeholder="جستجو...">
                    <button><i class="fa fa-search"></i></button>
                </form>
            </span>
            
        </div> <!-- .main-navigation -->

        <div class="mobile-navigation"></div>
    </div>
</header>
{% endif %}

{%if LANGUAGE_CODE == 'en' %}
<header class="site-header">
    <div class="container" >
        <div style="float: right;">
            <a id="branding" style="float: revert ;">
                <img src="{% static 'images/logo.png' %}" alt="" class="logo">
                <div class="logo-copy">
                    <h1 class="site-title">FREE Film</h1>
                </div>

            </a> <!-- #branding -->
                <small class="site-description">     
                    {%if not request.user.is_paid and request.user.is_authenticated %}
                    <div class="entry-content">
                        <div class="col-md-12">
                            <h1 style="color: tomato;"> <a href="{% url 'movie:request' %}"> Buy a subscription</a> </h1>
                        </div>
                    </div>
                    {%endif%}               
                </small>
            <form action="{% url 'movie:change_language' %}" method="POST" >
                {% csrf_token %}
                <input name="next" type="hidden" value="{{ request.get_full_path }}" />
                <select name="language">
                    {% get_current_language as LANGUAGE_CODE %}
                    {% get_available_languages as LANGUAGES %}
                    {% get_language_info_list for LANGUAGES as languages %}
                    {% for language in languages %}
                        <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                            {{ language.name_local }} ({{ language.code }})
                        </option>
                    {% endfor %}
                </select>
                <input type="submit" value="Go" />
            </form>
        </div>
        <div class="main-navigation" style="direction: ltr; float: left;" >
            <button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
            <ul class="menu" style="padding-left: 0%;">
                <li class="menu-item {% if request.path == index %}current-menu-item{% endif %}"><a href="{{index}}">Home</a></li>
                <li class="menu-item {% if request.path == collection %}current-menu-item{% endif %}"><a href="{{collection}}">Collection</a></li>
                <li class="menu-item {% if request.path == review %}current-menu-item{% endif %}"><a href="{{review}}">Review</a></li>
                <li class="menu-item {% if request.path == contact %}current-menu-item{% endif %}"><a href="{{contact}}">Contact us</a></li>
                <li class="menu-item {% if request.path == about %}current-menu-item{% endif %}"><a href="{{about}}">About us</a></li>
                {% if request.user.is_admin %}
                    <li class="menu-item {% if request.path == admincreate %}current-menu-item{% endif %}"><a href="{{admincreate}}">Admin control </a></li>
                {% endif %}
                {% if request.user.is_authenticated %}
                    <li class="menu-item {% if request.path == user %}current-menu-item{% endif %}"><a href="{{user}}">Profile</a></li>
                    <li class="menu-item {% if request.path == logout %}current-menu-item{% endif %}"><a href="{{logout}}">Logout</a></li>
                {% else %}
                    <li class="menu-item {% if request.path == phone %}current-menu-item{% endif %}"><a href="{{phone}}">sign in</a></li>
                {% endif %}
            </ul> <!-- .menu -->
            <br><br>
            <span>
            <form action="{% url 'movie:search' %}" class="" style="direction: ltr;">
                <input type="text" name="q" {% if q %} value={{q}} {% endif %} placeholder="searching...">
                <button><i class="fa fa-search"></i></button>
            </form>
                {%if not request.user.is_paid and request.user.is_authenticated %}
                <div class="entry-content">
                    <div class="col-md-12">
                    </div>
                </div>
                {%endif%}
            </span>
            
        </div> <!-- .main-navigation -->

        <div class="mobile-navigation"></div>
    </div>
</header>
{% endif %}
